<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  -->
    <section class="p-2 border-top">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-2">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bi bi-house-fill me-3"></i>LNCC
                    </h6>
                    <small class="text-muted">
                        O LNCC é uma unidade
                        de pesquisa do MCTI na área de
                        modelagem computacional e computação científica de alto desempenho.
                        <a class="text-reset" href="../about-lncc.html">Saiba mais.</a>
                    </small>
                </div>

                <!-- Apoio @ footer.html -->
                <div class=" col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Apoio
                    </h6>
                    <p class="mb-1">
                        <small class="text-muted">
                            <a class="text-reset text-decoration-none" href="https://www.gov.br/lncc/pt-br"
                                target=”_blank” title="Site do LNCC">
                                <i class="bi bi-asterisk text-info"></i> Laboratório Nacional de Computação
                                Científica (LNCC/MCTI)
                            </a>
                        </small>
                    </p>
                    <p class="mb-1">
                        <small class="text-muted">
                            <a class="text-reset text-decoration-none" href="https://www.gov.br/mcti/pt-br"
                                target="_blank" title="Site do MCTI">
                                <i class="bi bi-asterisk text-info"></i> Ministério da Ciência, Tecnologia e
                                Inovações (MCTI)
                            </a>
                        </small>
                    </p>
                    <p class="mb-1">
                        <small class="text-muted">
                            <a class="text-reset text-decoration-none" href="https://www.faperj.br/" target="_blank"
                                title="Site da FAPERJ">
                                <i class="bi bi-asterisk text-info"></i> Fundação Carlos Chagas Filho de Amparo
                                à Pesquisa do Estado do Rio de Janeiro (FAPERJ)
                            </a>
                        </small>
                    </p>
                </div>


                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contato
                    </h6>
                    <p class="mb-2">
                        <small>
                            <i class="bi bi-geo-alt-fill me-3"></i>
                            <a href="https://goo.gl/maps/ZAgEEXUcweLfHTWQA" target="_blank"
                                class="text-reset text-decoration-none" title="Veja no Google Maps">
                                Av. Getúlio Vargas, 333 &#8211; Quitandinha, Petrópolis &#8211; RJ
                            </a>
                        </small>
                    </p>
                    <p class="mb-2">
                        <small>
                            <i class="bi bi-envelope-fill me-3"></i>
                            <a href="mailto:eamc@lncc.br" class="text-reset">eamc@lncc.br</a>
                        </small>
                    </p>
                    <p class="mb-2">
                        <small><i class="bi bi-telephone-fill me-3"></i> +55 24 2233 6000</small>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="d-flex justify-content-center p-4 border-bottom" style="background-color: rgba(0, 0, 0, 0.05);">

        <div class="me-4 d-none d-lg-block">
            &copy; <a href="#" class="text-reset">Laboratório Nacional de Computação Científica</a> (LNCC/MCTI)
        </div>
        <div>
            <a href="https://pt-br.facebook.com/LNCCbr/" class="me-4 text-reset text-decoration-none" target=”_blank”>
                <i class="bi bi-facebook"></i> Facebook
            </a>
            <a href="https://www.instagram.com/eamc.lncc/" class="me-4 text-reset text-decoration-none" target=”_blank”>
                <i class="bi bi-instagram"></i> Instagram
            </a>
            <a href="https://www.linkedin.com/company/lncc/" class="me-4 text-reset text-decoration-none"
                target=”_blank”>
                <i class="bi bi-linkedin"></i> LinkedIn
            </a>
            <a href="https://www.youtube.com/EAMC_LNCC" class="me-4 text-reset text-decoration-none"
                target=”_blank”>
                <i class="bi bi-youtube"></i> YouTube
            </a>
        </div>

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
