<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="index.html">
            <img src="assets/imgs/logo.png" width="35" height="35" alt="Logo do EAMC em tamanho reduzido">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html">Início</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="timeline.html">Cronograma</a></li>
                <li class="nav-item"><a class="nav-link" href="submissions.html">Submissões</a></li>
                <li class="nav-item"><a class="nav-link" href="event-program.html">Programação</a></li>
                <!--
                <li class="nav-item"><a class="nav-link" target="_blank">Inscrições em breve!</a></li>
                -->
                <li class="nav-item"><a class="nav-link" href="minicursos.html">Minicursos</a></li>
                <li class="nav-item"><a class="nav-link" href="https://verao.lncc.br">Inscrições</a></li>

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Mais</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                        <li><a class="dropdown-item" href="proceedings.html">Edições Anteriores</a></li>
                        <!--
                        <li><a class="dropdown-item" href="assets/posters/poster-xvi.pdf" target="_blank">Divulgação</a>
                        -->
                        <li><a class="dropdown-item" href="about-lncc.html">Sobre o LNCC</a>
                        <li><a class="dropdown-item" href="other.html">Outros Materiais</a>
                        <li><a class="dropdown-item" href="https://discord.gg/Pcm8nhjwve" target="_blank">Discord 👾</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
